node_modules
public/css
public/js
client/pre-build
npm-debug.log
.DS_Store
secret
aws-secret
*.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
