mixin exercise-partial(exercise)
    div.grid__item.one-whole
        h1!=exercise.title
        
        div.message!=exercise.exerciseText
        
        div.grid__item.one-half.user-input
            textarea.user-input__textarea
            button#go go!
            
        div.grid__item.one-half
            div.results
    
    script(type='text/javascript').
        $('#go').click(function () {
            var func = $('.user-input__textarea').val();
            var postUrl = window.location.href;
            var request = {
                testFunc: func
            };

            $.post(postUrl, request).done(function(data) {
                data.forEach(function(element) {
                    if (element.correct) {
                        $('.results').append('<h3>Golf GTI Bro!</h3>');
                    } else {
                        $('.results').append('<h3>Dats like, a Skoda, innit.</h3>');
                    }
                    $('.results').append('<p>Input: ' + element.input + '</p>');
                    $('.results').append('<p>Output: ' + element.output + '</p>');
                })

                console.log(data);
            });
        });
