mixin exercise-partial(exercise)
    h1!=exercise.title
    div.message!=exercise.exerciseText
    textarea#test
    button#go go!
    div.results

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript').
        $('#go').click(function () {
            var func = $('#test').val();
            var postUrl = window.location.href;
            var request = {
                testFunc: func
            };

            $.post(postUrl, request).done(function(data) {
                data.forEach(function(element) {
                    if (element.correct) {
                        $('.results').append('<h3>Golf GTI Bro!</h3>');
                    } else {
                        $('.results').append('<h3>Dats like, a Skoda, innit.</h3>');
                    }
                    $('.results').append('<p>Input: ' + element.input + '</p>');
                    $('.results').append('<p>Output: ' + element.output + '</p>');
                })

                console.log(data);
            });
        });
