include ./header.jade
include ./footer.jade

html
    head
        title!= title
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        link(rel='stylesheet' href='../static/css/main.css')
        
    body.grid
        +header
        
        div.grid__item.one-whole This is the body.
        
        +footer
