html
    head
        title!= title
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        
    body
        h1!= message

        div Hello this is some text.
        
        ul
            each exercise in exercises
                li 
                    a(href= "http://localhost:3000/exercise/" + exercise.number)= exercise.title
