$pink-1991: rgb(255, 107, 147);
$dark-pink-1991: darken($pink-1991, 5%);
$darker-pink-1991: darken($pink-1991, 10%);
$light-pink-1991: lighten($pink-1991, 5%);
$lighter-pink-1991: lighten($pink-1991, 10%);

$green-1991: rgb(36, 216, 149);
$dark-green-1991: darken($green-1991, 5%);
$darker-green-1991: darken($green-1991, 10%);
$light-green-1991: lighten($green-1991, 5%);
$lighter-green-1991: lighten($green-1991, 10%);

$blue-1991: rgb(123, 203, 255);
$dark-blue-1991: darken($blue-1991, 5%);
$darker-blue-1991: darken($blue-1991, 10%);
$light-blue-1991: lighten($blue-1991, 5%);
$lighter-blue-1991: lighten($blue-1991, 10%);

$purple-1991: rgb(127, 127, 232);
$dark-purple-1991: darken($purple-1991, 5%);
$darker-purple-1991: darken($purple-1991, 10%);
$light-purple-1991: lighten($purple-1991, 5%);
$lighter-purple-1991: lighten($purple-1991, 10%);

$grey: rgb(119, 119, 119);
