.btn {
    color: #fff;
    outline: none;
    outline-style: none;

    &:hover {
        color: #fff;
        outline: none;
        outline-style: none;
    }

    &:focus {
        color: #fff;
        outline: none;
        outline-style: none;
    }

    &:active {
        color: #fff;
        outline: none;
        outline-style: none;
    }
}
