.exercise-input {

}

.exercise-input__editor {
    height: 200px;
    border-radius: 4px 4px 0 0;
}

.exercise-input__button {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 20px;
    border-radius: 0 0 4px 4px;
    background-color: $pink-1991;
    border-color: $dark-pink-1991;

    &:hover {
        background-color: $dark-pink-1991;
    }

    &:active {
        background-color: $darker-pink-1991;
    }
}
