$screen-sm-min: 768px;
$screen-md-min: 992px;

@import "colours";
@import "buttons";

@import "home";
@import "navbar";
@import "exercise-input";
@import "exercise-table";
@import "exercise-list";
@import "register";
@import "result";

html {
  background-image: url(/public/geometry2.png);
  background-repeat: repeat;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background: none;
}

a {
    cursor: pointer;
}

.waiting-spinner {
  padding-top: 100px;
  text-align: center;

  .glyphicon {
      color: #333;
      font-size: 10em;
      animation: rotate 1s infinite;
  }
}

.container-fluid {
  width: 90%;
}
