@import "colours";
@import "buttons";

@import "exercise-input";
@import "exercise-list";

@import "result";

@import "footer";

a {
    cursor: pointer;
}

.main-container {
    min-height: 100%;
    margin-bottom: -50px;
}

body {
    padding-top: 50px;
}
